@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <iframe height="380" width="500" src="https://www.youtube.com/embed/XAnZUDw5vMQ" allow="fullscreen;">
    </iframe>
</div>
